# Ignore build directories
build/
temp/
install/
log/

# Ignore IDE-specific files
*.vscode/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment variables and secrets
.env
*.env

# Ignore other files
src/test_robot/

